*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f4f4f4;
    color: #000000;
    line-height: 1.6;
    background-image: url("103.jpg");
    background-size: cover;
    border: 1px solid #ccc;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.dark{
    background-color: #121212;
    color: #f4f4f4;
    section {
        color:#333
    }
}
section {
    margin: 15px;
    padding: 15px;
    background: #201a1a9a;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

div{
    height: 400px;
    width: 300px;
    display : inline-block;
}
div button{
    height: 30px;
    width: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    text-align: center;
    justify-content: center;
}

#Calculator button {
    margin: 5px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
}
div button:hover{
    height: 25px;
    width: 15px;
    padding-left: 7.5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
#theme{
    text-align: right;
}

#calcInput{
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

section:hover{
    box-shadow: 5px #161616;
}

#taskList{
    margin-left: 20px;
    background-color: #f4f4f4;
}

textarea{
    height: 160px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}